/* --- VARIAVEIS --- */
:root {
    --cor-fundo: #141414;
    --cor-cartao: #1f1f1f;
    --texto-primario: #ffffff;
    --texto-secundario: #b3b3b3;
    --destaque: #e50914;
    --largura-sidebar: 240px;
    --altura-header: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--texto-primario);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

/* --- HEADER | Barra do topo --- */
.header {
    height: var(--altura-header);
    background-color: rgba(0, 0, 0, 9);
    border-bottom: 1px solid #333;
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--destaque);
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    background: #333;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    width: 300px;
}

/* --- LAYOUT PRINCIPAL --- */
.main-wrapper {
    margin-top: var(--altura-header);
    /* O corpo da página é um container Flex */
    display: flex;
    flex: 1; /* Ocupa o resto da altura da tela */
}

/* sidebar fixa na esquerda */
.sidebar {
    width: var(--largura-sidebar);
    background-color: #000;
    border-right: 1px solid #333;
    padding: 20px 0;
    position: fixed;
    flex-shrink: 0; /* Não deixa encolher */
    top: var(--altura-header);
    bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu a {
    display: block;
    padding: 12px 25px;
    color: var(--texto-secundario);
    font-weight: 600;
    border-left: 4px solid transparent;
}

.menu a.ativo, .btn-menu:hover {
    background-color: #222;
    color: white;
    border-left-color: var(--destaque);
    transition: 0.3s;
}

/* Conteúdo da direita */
.content {
    margin-left: var(--largura-sidebar);/* Empurra o conteúdo para não ficar baixo da sidebar fixa */
    padding: 30px 40px;
    flex: 1;/* Ocupa todo espaço restante */
}

/* --- CARDS E GRADE --- */
.amostra {
    background: linear-gradient(rgba(0,0,0,0.5), #141414),url('https://uploads.onecompiler.io/43s6e2a5d/44buxcw5c/szrY6NhfuLAl3tgL6XtYKaRvVN.webp');
    background-size: cover;
    height: 300px;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amostra h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.amostra p{
    max-width: 500px;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-left: 4px solid var(--destaque);
    padding-left: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card {
    background-color: var(--cor-cartao);
    border-radius: 6px;
    flex: 1 1 200px;/* Cresce, encolhe, base 200px */
    overflow: hidden;
    cursor: pointer;
    position: relative;
    max-width: 250px;
    min-width: 180px;
    transform: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    z-index: 10;
    outline: 2px solid #333;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
}

.poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --- PÁGINA DETALHES --- */
.detalhes-wrapper {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.detalhes-img {
    flex: 0 0 300px;
}

.detalhes-img img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.detalhes-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalhes-texto p{
    margin-bottom: 30px;
    line-height: 1.6;
    color: #ccc;
}

.detalhes-titulo {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 20px;
}

.tags {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.tag {
    border: 1px solid #555;
    padding: 5px 10px;
    font-size: 0.9rem;
}

.btn-acao {
    padding: 12px 30px;
    margin-right: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: fit-content;
}

.btn-play {
    background-color: white;
    color: black;
    width: fit-content;
}

.btn-save {
    background-color: #444;
    color: white;
}

.btn-voltar {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--texto-secundario);
}

/* --- CONTATO --- */
.form-contato {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contato input, 
.form-contato textarea {
    padding: 15px;
    background-color: #333;
    border: none;
    color: white;
    border-radius: 4px;
}
